<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="card-title text-white">User API</h5>

            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">User Id</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="customtable">
                        @for (item of userList; track $index) {
                            <tr>
                                <td>{{item.userId}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.phoneNumber}}</td>
                                <td><button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                <button class="btn btn-danger" (click)="onDelete(item)">Delete</button></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="card-title text-white">User API</h5>

            </div>
            <div class="card-body">
                <div class="row">
            
                    <div class="col-6">
                        <label for="fullName">FullName</label>
                        <input type="text" class="form-control" [(ngModel)]="userObj.fullName">
                    </div>
                    <div class="col-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="userObj.email">
                    </div>
                    <div class="col-6">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" [(ngModel)]="userObj.password">
                    </div>
                    <div class="col-6">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" [(ngModel)]="userObj.phoneNumber">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-6">
                        <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                    </div>
                    <div class="col-6">
                    @if(userObj.userId==0){
                        <button class="btn btn-success" (click)="onSaveUser()">Save</button>
                    }@else {
                        <button class="btn btn-success" (click)="onUpdate()">Update</button>
                    }
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>