<div class="row mb-1">
    <div class="col-3">
        <div class="p-3" [ngClass]="divClassName()">
            Div1
        </div>

    </div>
        <div class="col-3">
        <div class="p-3" [ngStyle]="{'background-color': toggleColor==true ? 'red':'green'}">
            Div2
        </div>

    </div>
</div>


<div class="row">
    <div class="col-3">
        <button class="btn btn-success m-1" (click)="setBgClass('bg-success')">Green</button>
        <button class="btn btn-danger" (click)="setBgClass('bg-danger')">Red</button>

    </div>
    <div class="col-3">
        <button class="btn btn-dark" (click)="setToggle()">Toggle Button</button>
    </div>

</div>
<div class="row">
    <div class="col-3">
        <h1>{{firstName + lastName| uppercase }}</h1>
        <h1>{{firstName + lastName | lowercase }}</h1>
        <h1>{{firstName | slice:0:3}}</h1>
    </div>
</div>
